<div class='row'>
  <div class='small-12 columns'>
    <h2>Edit <%= @data_sheet.name %></h2>
  </div>
</div>

<%= form_for [@company, @data_sheet], html: {multipart: true} do |f| %>
  <div class='row'>
    <div class='small-12 columns'>
      <%= f.label :name %>
    </div>
  </div>
  <div class='row'>
    <div class='small-12 columns'>
      <%= f.text_field :name, autofocus: true %>
    </div>
  </div>

  <div class='row'>
    <div class='small-12 columns'>
      <%= f.label :description %>
    </div>
  </div>
  <div class='row'>
    <div class='small-12 columns'>
      <%= f.text_area :description %>
    </div>
  </div>

  <div class='row'>
    <div class='small-12 columns'>
      <%= f.submit 'Update', class: 'button radius' %>
    </div>
  </div>
<% end %>
