<div class='row'>
  <h1>Add New Safety Data Sheet</h1>
</div>

<%= form_for [@company, @data_sheet], html: {multipart: true} do |f| %>
  <div class='row'>
    <%= f.label :name %>
  </div>
  <div class='row'>
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class='row'>
    <%= f.label :description %>
  </div>
  <div class='row'>
    <%= f.text_area :description %>
  </div>

  <div class='row'>
    <%= f.label :sds, 'Safety Data Sheet' %>
  </div>
  <div class='row'>
    <%= f.file_field :sds %>
  </div>

  <div class='row'>
    <%= f.submit 'Submit' %>
  </div>
<% end %>
