<div class='row'>
  <div class='small-12 columns'>
    <h2>Add New Safety Data Sheet</h2>
  </div>
</div>

<%= form_for [@company, @data_sheet], html: {multipart: true} do |f| %>
  <div class='row'>
    <div class='small-12 columns'>
      <%= f.label :number %>
    </div>
  </div>
  <div class='row'>
    <div class='small-12 columns'>
      <%= f.text_field :number, autofocus: true %>
    </div>
  </div>

  <div class='row'>
    <div class='small-12 columns'>
      <%= f.label :name %>
    </div>
  </div>
  <div class='row'>
    <div class='small-12 columns'>
      <%= f.text_field :name %>
    </div>
  </div>

  <div class='row'>
    <div class='small-12 columns'>
      <%= f.label :sds, 'Safety Data Sheet' %>
    </div>
  </div>
  <div class='row'>
    <div class='small-12 columns'>
      <%= f.file_field :sds %>
    </div>
  </div>

  <div class='row'>
    <div class='small-12 columns'>
      <%= f.submit 'Submit', class: 'small button radius' %>
    </div>
  </div>
<% end %>
