<div class='row'>
  <div class='small-12 columns'>
    <h2>Edit User: <%= @user.email %></h2>
  </div>
</div>

<%= form_for @user do |f| %>
  <div class='row'>
    <% if current_user.role == 'owner' %>
      <div class='small-12 medium-4 columns'>
        <%= f.radio_button(:role, 'owner') %>
        <%= f.label(:role_owner, 'Owner') %>
      </div>
      <div class='small-12 medium-4 columns'>
        <%= f.radio_button(:role, 'admin') %>
        <%= f.label(:role_admin, 'Admin') %>
      </div>
    <% elsif current_user.role == 'admin' %>
      <div class='small-12 medium-4 columns'>
        <%= f.radio_button(:role, 'admin') %>
        <%= f.label(:role_admin, 'Admin') %>
      </div>
    <% end %>
    <div class='small-12 medium-4 columns'>
      <%= f.radio_button(:role, 'member') %>
      <%= f.label(:role_member, 'Member') %>
    </div>
  </div>

  <div class='row'>
    <div class='small-12 columns'>
      <% if current_user.role == 'owner' %>
        <%= f.label(:company) %>
        <%= f.collection_select(:company, Company.all, :id, :name, include_blank: 'Choose a Company') %>
      <% elsif !current_user.company_user.nil? %>
        <%= f.label(:company) %>
        <%= f.collection_select(:company, [CompanyUser.find_by(user_id: current_user).company], :id, :name, include_blank: 'Choose a Company') %>
      <% end %>
    </div>
  </div>

  <div class='row'>
    <div class='small-12 columns'>
      <%= f.submit 'Update', class: 'small button radius' %>
    </div>
  </div>
<% end %>
