<div class='row'>
  <div class='small-12 columns'>
    <h2><%= @company.name %></h2>
  </div>
</div>

<% if current_user.role == 'admin' %>
  <div class='row'>
    <div class='small-12 columns'>
      <ul class='button-group round'>
        <li><%= link_to 'Edit Company', edit_company_path, class: 'small button' %></li>
        <li><%= link_to 'Delete Company', company_path, data: { confirm: 'Are you sure?' }, method: :delete, class: 'small button' %></li>
      </ul>
    </div>
  </div>
<% end %>

<%= render 'departments/index' %>

<%= render 'data_sheets/index' %>
