<fieldset>
  <% if current_user %>
    <legend>Welcome, <%= current_user.role.capitalize %>: <%= current_user.email.capitalize[/^[^\@\_\.\d]*/] %></legend>

    <% if current_user.role == 'owner' || current_user.role == 'admin' %>
      <div class='row'>
        <div class='small-12 columns'>
          <%= link_to 'User List', users_path %>
        </div>
      </div>
    <% end %>

    <% if current_user.role == 'owner' %>
      <div class='row'>
        <div class='small-12 columns'>
          <%= link_to 'Company List', companies_path %>
        </div>
      </div>
    <% end %>

    <% if !CompanyUser.exists?(user_id: current_user.id) && current_user.role == 'admin' %>
      <div class='row'>
        <div class='small-12 columns'>
          <%= link_to 'Register your Company', new_company_path %>
        </div>
      </div>
    <% end %>

    <% if CompanyUser.exists?(user_id: current_user.id) %>
      <div class='row'>
        <div class='small-12 columns'>
          <%= link_to 'View Data Sheets', company_path(current_user.company_user.company) %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class='row collapse postfix-round'>
      <div class='small-9 medium-4 large-3 columns'>
        <p class='box'>New to the Site?</p>
      </div>
      <div class='small-3 medium-2 large-1 columns end'>
        <%= link_to 'Sign Up', new_user_registration_path, class: 'button postfix round' %>
      </div>
    </div>

    <div class='row collapse postfix-round'>
      <div class='small-9 medium-4 large-3 columns'>
        <p class='box'>Already a Member?</p>
      </div>
      <div class='small-3 medium-2 large-1 columns end'>
        <%= link_to 'Sign In', new_user_session_path, class: 'button postfix round' %>
      </div>
    </div>
  <% end %>
</fieldset>
